@{
    Layout="Shared/_Layout.cshtml";
}

<h2>Check to see how many times your word shows up in a sentence</h2>
<form action="/results" method="post">
  <div class="form-group">
    <label for="word">Word:</label>
    <input type="text" name="word" id="word" required>
  </div>
  <div class="form-group">
    <label for="phrase">Sentence:</label>
    <textarea class="form-control" rows="3" type="text" name="phrase" id="phrase" required></textarea>
  </div>
  <button type="submit" class="btn btn-lg btn-primary">Count</button>
</form>
